In [ ]:
bicycles = ["terk" , 'cannondale' , "redline" , "specialized"]
print(bicycles)

In [ ]:
bicycles = ["terk" , 'cannondale' , "redline" , "specialized"]
print(bicycles[0])
print(bicycles[3])

In [ ]:
bicycles = ["terk" , 'cannondale' , "redline" , "specialized"]
print(bicycles[-1])
print(bicycles[-3])

In [ ]:
car = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
messaage = "my favourite car is " .+ "car"

In [ ]:
car = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
print(car)

In [ ]:
car[2] = "v8"
print(car)

In [ ]:
car.append('yamaha')
print(car)

In [ ]:
motorcycle = []

motorcycle.append('honda')
motorcycle.append('yamaha')
motorcycle.append('suzuki')

print(motorcycle)

In [ ]:
motorcycle = ['honda', 'yamaha', 'suzuki']
motorcycle.insert(0 , 'harley davidson')
print(motorcycle)

In [ ]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
print(friends.index("umer"))
friends.remove('umer')
friends

In [ ]:
todo_list = ['task a' , 'task b' , 'task c' , 'task d' , 'task d']
completetask = []
print(todo_list)

In [ ]:
status = input("enter your task: ")
if status in todo_list:
    index=todo_list.pop()
    completetask.append(status)
    print(completetask)
    
else:
    print('this task is not in list')

In [ ]:
#slicing
#slicing always travel left to right
#right to left [reversed slice -]
#empty list shown when slicing is not done
#start [start : end]

In [ ]:
list1 = [9,8,7,6,5,4,3,2,1]
#     = [0 1 2 3 4 5 6 7 8]

In [ ]:
list2 = list1[2:5]
list2

In [ ]:
list3 =[-9,-8,-7,-6,-5,-4,-3,-2,-1]

In [ ]:
list4 = list3[-2:-5]
list4

In [ ]:
list4 = list3[-5:-2]
list4

In [ ]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort()
print(friends)

In [ ]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort(reverse=True)
print(friends)
#inplace change

In [ ]:
car = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
print(car)
car.reverse()
print(car)

In [ ]:
list1 = ['zohiab' , 'umer' , 'ali' , 'hamza']
print(list1[0])
print("you are invited by me at dinner")

In [ ]:
list1 = ['zohiab' , 'umer' , 'ali' , 'hamza']
list1.insert( 0, "taha")
print(list1)

In [ ]:
list1 = ['zohiab' , 'umer' , 'ali' , 'hamza']
list1.insert( 2, "sara")
print(list1)

In [ ]:
list1 = ['zohiab', 'umer', 'sara', 'ali', 'hamza']
list1.append("khan")
print(list1)

In [ ]:
list1 = ['zohiab', 'umer', 'sara', 'ali', 'hamza', 'khan']
print("you are invited by me " + (list1[0]+ "." ))
print("you are invited by me " + (list1[1]+ "." ))
print("you are invited by me " + (list1[2]+ "." ))
print("you are invited by me " + (list1[3]+ "." ))
print("you are invited by me " + (list1[4]+ "." ))
print("you are invited by me " + (list1[5]+ "." ))

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = list1.copy()

In [ ]:
list1.append(100)
print(list1)
print(list2)

In [ ]:
s= list2[:]

In [ ]:
s.clear()

In [ ]:
s

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list1.count(8)

In [ ]:
del list1[2]

In [ ]:
list1
#delete index
#remove value

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
list1.remove(9)

In [ ]:
print(list1)

In [ ]:
poppedV=list1.pop(2)

In [ ]:
poppedV

In [ ]:
list1.extend("9131313")
print(list1)

In [ ]:
a = [1, 2, 4, 5, 6, 7, 8]
sum(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
listinlist = [list1 , 5 , [1,2,3,5,[5,7,8,9]]]

In [ ]:
listinlist

In [ ]:
listinlist[1][2][2]

# looping/loops for loops

In [ ]:
for a in range(10):
    print("pakistan")

In [ ]:
for a in range(1,10,2):
    print(a,"pakistan")
#stepping by 2
#odd

In [ ]:
for a in range(5):
    print(a,"behroze")

In [ ]:
for a in range(0,10,2):
    print(a,"pakistan")
#even

# HOW TO ACCESS MEMBERS OF LIST USING A FOR LOOP

In [ ]:
list1 = [9,8,7,6,5,4,3,True,2,1]
list1

In [ ]:
for num in list1:
    print(num,type(num))

In [ ]:
for num in list1:
    print(num)

In [ ]:
for list1 in range(0,10,2):
    print(list1)

In [ ]:
for list1 in range(1,10,2):
    print(list1)

In [ ]:
for members in ["apple","oranges","cakes","drinks"]:
    print(members)

In [ ]:
list1 = [9,8,7,6,5,4,3,2,1]

In [ ]:
for member in list1:
    if member%2 != 0:
        print(str(member) + " is odd")
    else:
        print(str(member) + " is even")

In [ ]:
for member in list1:
    if member%2 != 0:
        print(str(member) + " is odd")

In [ ]:
oddnumberlist = []
evennumberlist = []
message = ""

list1 = [1,2,3,4,5,6,7,8,9,10]

for num in list1:
    if num%2 != 0:
        oddnumberlist.append(num)
    else:
        evennumberlist.append(num)

message += "THESE ARE ODD NUMBERS :"

for odd in oddnumberlist:
    message += "and "
    
for even in evennumberlist:
    message += str(even) + ","
    
message += "are even numbers"
print(message)

In [ ]:
even=[]
odd=[]
list1=[11,22,33,44,55,66,77,88]
for num in list1:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print("even")
for ev in even:
    print(ev,end=' ')#spacing
print("\nodd")
for od in odd:
    print(od,end=' ')#spacing

In [ ]:
even=[]
odd=[]
list1=[11,22,33,44,55,66,77,88]
for num in list1:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print("even")
for ev in even:
    print(ev)
print("\nodd")
for od in odd:
    print(od)

In [ ]:
friends = ["ali","abid","shahzaib","ahmed","fatima","sehar","bunty"]
family = ["moto","golo","bablo","bubli","tadda","bunty"]
closedfriends=[]

for members in friends:
    if members in family:
        closedfriends.append(members)
        print("closedfriends")
    else:
        print("sorry")

# WORKING WITH LIST USING FOR LOOP

In [ ]:
name = ["ali","abid","shahzaib","ahmed","fatima","sehar"]
for name in name[2:]:
    print(name.upper())

In [ ]:
name = ["ali","abid","shahzaib","ahmed","fatima","sehar"]
print(name[3])
print(name[4])
print(name[5])

In [ ]:
pizza = ["tikka","fagita","creemitikka"]
friends pizza = pizza[:]

In [ ]:
currentusername = ['behroze','abdullah','shahzaib','shariq']
newusername = ['ali','abid','ahmed','fatima','shahzaib']
for name in newusername:
    if name in currentusername:
      print('enter new user name,',newusername)
          
else:
    print('user name is available,',newusername)

# string formating

In [ ]:
name = "fahad"
f_name = "ali"
print("my friend name is "+ name+" and his father name is "+ f_name)

In [ ]:
print("my friend name is {} and his father name is {}".format(name,f_name))

In [ ]:
print(F"my friend name is {name} and his father name is {f_name}")

In [ ]:
num=45
name="asad"

print(f"my name is {name} and my number is {num} num")

In [ ]:
person = "Nasir"

In [ ]:
print('my name is {}'.format(person))

# tupple

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. tup1 = (50,);

In [ ]:
friends = ('Hamza' , 'Umer' , 'Zohaib' , 'Azhar' , 'Fahad')
print(friends[2])

In [ ]:
cities = ("Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle")
mycities = cities[4]
print("I belong to " + mycities.upper() + '.')

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ",tup1[0])
print("tup2[1:5]: ",tup2[1:5])

In [ ]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

tup3 = tup1 + tup2
print(tup3)

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
print (tup)

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "strawberry" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("No Strawberry in your tuple")

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
tup3 = "a","b","c","d"
print(tup3)
print(type(tup3))

# Dictionaries

a = {'key':'value'}
there is not index in dict

In [ ]:
alien_0 = {'color':'green','points':5}
print(alien_0['color'])
print(alien_0['points'])

In [ ]:
alien_0 = {'color':'green','points':5}
new_points = alien_0['points']
print("you just earned " + str(new_points)+ " points!")

In [ ]:
#adding new key , value in dict
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

In [ ]:
foods = {}
foods['karahi'] = ['favourite','pishawari','balochi']
foods['sheep'] = 'boti kabab'
foods['biryani'] = 'yummy'
foods['bbq'] = 'malai boti'
foods['shake'] = 'mango'
foods['ice creem'] = {'yummy':'flavour','chocolate':'mango','orange':}
foods['ice creem'][yummy][2]
print(foods)
foods['karahi'][1]

In [ ]:
players = {'Watson':'Australian International Cricketer'}
print("Shane Robert Watson is a " + players['Watson'] + '.')

players = {'Imam ul Haq': 'parchi'}
print("\nWe all know that Imam ul Haq is a " + players['Imam ul Haq'].upper() + ".")

In [ ]:
psl = {'karachi': 'kings', 'multan':'sultan', 'zalmi': 'won'}
print("Karachi is: " + str(psl['karachi']))

if psl['zalmi'] == 'loser':
    x_increment = 1
elif psl['zalmi'] == 'won':
    x_increment = 2
else:
    x_increment = 3
    
psl['zalmi'] = psl['zalmi'] + str(x_increment)
print("PSL4 zalmi : " + str(psl['zalmi']))

# Removing Key-Value Pairs

# A Dictionary of Similar Objects

In [ ]:
dict1 = {'a':5,'b':15,'c':25}
for key1 , value1 in dict1.items():
    print(key1,value1)

In [ ]:
for key3 in dict1.keys():
    print(key1,value1)

In [ ]:
for value3 in dict1.values():
    print(value3)

In [ ]:
dict2 = {'firstname':'habib','lastname':'khan','city':'karachi','age':'eighteen'}

print("My name is " + dict2['firstname'].title() + '.')
print("My last name is " + dict2['lastname'].title() + '.')
print("My city is " + dict2['city'].title() + '.')
print("My age is " + dict2['age'].title() + '.')

In [ ]:
#by format
dict2 = {'firstname':'habib','lastname':'khan','city':'karachi','age':'eighteen'}

print("My firstname is {}".format(dict2['firstname']).title())
print("My lastname is {}".format(dict2['lastname']).title())
print("My city is {}".format(dict2['city']).title())
print("My age is {}".format(dict2['age']).title())

# Looping Through a Dictionary

In [ ]:

user_0 = {'Teacher': 'Sir Nasir','Teacher_Assistant': 'Shahzad Ahsan','Student': 'Anas'}

for key, value in user_0.items():
    
    
    print("\nKey: " + key)
    print("Value: " + value)

In [ ]:
names = {'Shahzad':'Ahsan' , 'Sara Ali':'Khan' , 'Komal':'Aftab' , 'Hassan':'Dhedhi'}

for first_name , last_name in names.items():
    
    print('My First name is ' + first_name.title() + ' and my last name is ' + last_name.title() + '.')

In [ ]:
alien1 = {'name':'last_name' , 'color':'green' , 'height':'5.7' , 'weight':'67'}

if 'last_name' not in alien1.keys():
    
    print("Please write your last name also...")

# Looping Through All the Keys in a Dictionary

In [ ]:

name1 = {'Sheharyar':'Zafar' , 'Saif':'Zafar' , 'Zohiab':'owais' , 'umer':'najeeb' ,'ali':'khan' , 'ahmed':'amjad' , 
        'naveed':'zia'}

for new_names in sorted(name1.keys()):
    
    print(new_names.upper() + ', have a good day.')

In [ ]:

favorite_languages = {'jen': 'python','sarah': 'c','edward': 'ruby','phil': 'python'}

for name in sorted(favorite_languages.keys()):
    print(name.title() + ", thank you for taking the poll.")

In [ ]:
list1 = [99,29,88,47,66,47,99,48,44]

In [ ]:
ret = sorted(list1,reverse=True)

In [ ]:
ret

In [ ]:
list1

In [ ]:
ret=(reversed(list1))

In [ ]:

alien_0 = {'color': 'green', 'points': "5"}
alien_1 = {'color': 'yellow', 'points': "10"}
alien_2 = {'color': 'red', 'points': "15"}

aliens = [alien_0,alien_1,alien_2]


for alien in aliens:
    for key,value in alien.items():
        print("\n key " + key)
        print("value " + value)

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for table in [2,3,4,5]:
    for num in numbers:
        print(f"{table}*{num} = {table*num}")

# A Dictionary in a Dictionary

In [ ]:

users = {'sheikh': {'first': 'shahzad','last': 'ahsan','location': 'bahdurabad',},'sir': {'first': 'nasir','last': 'hussain','location': 'gulshan',}}
for username, user_info in users.items():
    print("\nUsername: " + username)
    full_name = user_info["first"] + " " + user_info["last"]
    location = user_info['location']
    print("\tfull name: " + full_name.title())
    print("\tlocation: " + location.title())

In [ ]:
users = {'sheikh': {'first': 'shahzad','last': 'ahsan','location': 'bahdurabad',},'sir': {'first': 'nasir','last': 'hussain','location': 'gulshan',}}
for username, user_info in users.items():
    print("\nUsername: " + username)
    full_name = user_info['first'] + " " + user_info['last']
    location = user_info['location']
    print("\tFull name: " + full_name.title())
    print("\tLocation: " + location.title())

# looping

In [ ]:
a = 10
while a>=0:
    print(a,"hello")
    a -=1

In [ ]:
a = 1
while a<10:
    print(a,"hello")
    a +=1

In [ ]:
for a in range(0,10):
    print(a,"hello")

In [ ]:
a = 1
while a<10:
    print(a,"odd numbers")
    a +=2

In [ ]:
a = 10
while a>=0:
    print(a,"even numbers")
    a -=2

In [ ]:
num=int(input("enter number : "))
while num==9:
    print("nine is entered")

In [ ]:
condition = True
while condition:
    num=input("enter number : ")
    if num == "q":
        print("you are out now")
        condition =False
    else:
        print("The square of the number is", int(num)**2)

In [ ]:
condition = True
while condition:
        num1=int(input("enter number : "))
        num2=int(input("enter number : "))
        print("add1" + "\nsubtract2" + "\nmultiple3" + "\ndivide4")
        user =int(input("enter number"))
        if user ==1:
            print(int(num1+num2))
        elif user ==2:
            print(int(num1-num2))
        elif user ==3:
            print(int(num1*num2))
        elif user ==4:
            print(int(num1/num2))

In [ ]:
while True:
    a = int(input("Enter for money: "))
    if a == 0:
        print("you have zero cash")
    else:
        print("hahahahah")
        break

In [ ]:
prompt = "Tell me something i'll repeat to you: "
prompt += "\nEnter 'quit' to close the program."
message = ''
while message != 'quit':
    message = input(prompt).lower()
    print(message)

In [ ]:
print("Enter your today schedule")
print("Enter Done when done with scheduling")

todo_list = []
while True:
    list = input(">  ")
    if list == 'quit':
        break
    todo_list.append(list)


print("\nHere is your all day schedule")
for todo in todo_list:
    print(todo.title())

In [ ]:
while True:
    city = input("\nEnter the name of the city you want to visit? \nEnter 'quit' to close the program: " ).lower()
    if city == 'quit':
        break
    else:
        print("I will love to go to " + city.title() + '...' )

In [ ]:

CleanCity = ['karachi' , 'Santa Fe' , 'Tucson' , 'Great Falls']
user_input = ""
while user_input != 'q':
    user_input = input('Enter a name of the city , or press "q" to terminate the program: ')
    if user_input != "q":
        for CleanCitys in CleanCity:
            if user_input == CleanCitys:
                print("It's one of the cleanest city.")
                break
    else:
        print("It's not a cleanest city")
        break

In [ ]:
pizza = []
while True:
    pizza_flavour = input('which flavour would you like to eat: ')
    if pizza_flavour == "done":
        break
    else:
        print("flavour would you like to eat " + pizza_flavour + ".")
    pizza_size = input("Enter the size of pizza: ")
    if pizza_size == "done":
        break
    else:
        print("The size of the pizza is " + pizza_size + ".")
    pizza_topping = input("enter your topping. ")
    if pizza_topping == "done":
        break
    else:
        print("your fav topping is " + pizza_topping + ".")

which flavour would you like to eat: chicken tikka
flavour would you like to eat chicken tikka.
Enter the size of pizza: 13 inch
The size of the pizza is 13 inch.
enter your topping. cheese
your fav topping is cheese.