In [ ]:
bicycles = ["terk" , 'cannondale' , "redline" , "specialized"]
print(bicycles)

In [ ]:
bicycles = ["terk" , 'cannondale' , "redline" , "specialized"]
print(bicycles[0])
print(bicycles[3])

In [11]:
bicycles = ["terk" , 'cannondale' , "redline" , "specialized"]
print(bicycles[-1])
print(bicycles[-3])

specialized
cannondale

In [ ]:
car = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
messaage = "my favourite car is " .+ "car"

In [ ]:
car = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
print(car)

In [ ]:
car[2] = "v8"
print(car)

In [ ]:
car.append('yamaha')
print(car)

In [ ]:
motorcycle = []

motorcycle.append('honda')
motorcycle.append('yamaha')
motorcycle.append('suzuki')

print(motorcycle)

In [ ]:
motorcycle = ['honda', 'yamaha', 'suzuki']
motorcycle.insert(0 , 'harley davidson')
print(motorcycle)

In [ ]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
print(friends.index("umer"))
friends.remove('umer')
friends

In [ ]:
todo_list = ['task a' , 'task b' , 'task c' , 'task d' , 'task d']
completetask = []
print(todo_list)

In [ ]:
status = input("enter your task: ")
if status in todo_list:
    index=todo_list.pop()
    completetask.append(status)
    print(completetask)
    
else:
    print('this task is not in list')

In [ ]:
#slicing
#slicing always travel left to right
#right to left [reversed slice -]
#empty list shown when slicing is not done
#start [start : end]

In [ ]:
list1 = [9,8,7,6,5,4,3,2,1]
#     = [0 1 2 3 4 5 6 7 8]

In [ ]:
list2 = list1[2:5]
list2

In [ ]:
list3 =[-9,-8,-7,-6,-5,-4,-3,-2,-1]

In [ ]:
list4 = list3[-2:-5]
list4

In [ ]:
list4 = list3[-5:-2]
list4

In [ ]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort()
print(friends)

In [ ]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort(reverse=True)
print(friends)
#inplace change

In [ ]:
car = ['honda' , 'suzuki' , 'ferrari' , 'audi' , 'toyota']
print(car)
car.reverse()
print(car)

In [ ]:
list1 = ['zohiab' , 'umer' , 'ali' , 'hamza']
print(list1[0])
print("you are invited by me at dinner")

In [ ]:
list1 = ['zohiab' , 'umer' , 'ali' , 'hamza']
list1.insert( 0, "taha")
print(list1)

In [ ]:
list1 = ['zohiab' , 'umer' , 'ali' , 'hamza']
list1.insert( 2, "sara")
print(list1)

In [ ]:
list1 = ['zohiab', 'umer', 'sara', 'ali', 'hamza']
list1.append("khan")
print(list1)

In [ ]:
list1 = ['zohiab', 'umer', 'sara', 'ali', 'hamza', 'khan']
print("you are invited by me " + (list1[0]+ "." ))
print("you are invited by me " + (list1[1]+ "." ))
print("you are invited by me " + (list1[2]+ "." ))
print("you are invited by me " + (list1[3]+ "." ))
print("you are invited by me " + (list1[4]+ "." ))
print("you are invited by me " + (list1[5]+ "." ))

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = list1.copy()

In [ ]:
list1.append(100)
print(list1)
print(list2)

In [ ]:
s= list2[:]

In [ ]:
s.clear()

In [ ]:
s

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list1.count(8)

In [ ]:
del list1[2]

In [ ]:
list1
#delete index
#remove value

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
list1.remove(9)

In [ ]:
print(list1)

In [ ]:
poppedV=list1.pop(2)

In [ ]:
poppedV

In [ ]:
list1.extend("9131313")
print(list1)

In [ ]:
a = [1, 2, 4, 5, 6, 7, 8]
sum(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
listinlist = [list1 , 5 , [1,2,3,5,[5,7,8,9]]]

In [ ]:
listinlist

In [ ]:
listinlist[1][2][2]

# looping/loops for loops

In [ ]:
for a in range(10):
    print("pakistan")

In [ ]:
for a in range(1,10,2):
    print(a,"pakistan")
#stepping by 2
#odd

In [ ]:
for a in range(5):
    print(a,"behroze")

In [ ]:
for a in range(0,10,2):
    print(a,"pakistan")
#even

# HOW TO ACCESS MEMBERS OF LIST USING A FOR LOOP

In [ ]:
list1 = [9,8,7,6,5,4,3,True,2,1]
list1

In [ ]:
for num in list1:
    print(num,type(num))

In [ ]:
for num in list1:
    print(num)

In [ ]:
for list1 in range(0,10,2):
    print(list1)

In [ ]:
for list1 in range(1,10,2):
    print(list1)

In [ ]:
for members in ["apple","oranges","cakes","drinks"]:
    print(members)

In [ ]:
list1 = [9,8,7,6,5,4,3,2,1]

In [ ]:
for member in list1:
    if member%2 != 0:
        print(str(member) + " is odd")
    else:
        print(str(member) + " is even")

In [ ]:
for member in list1:
    if member%2 != 0:
        print(str(member) + " is odd")

In [ ]:
oddnumberlist = []
evennumberlist = []
message = ""

list1 = [1,2,3,4,5,6,7,8,9,10]

for num in list1:
    if num%2 != 0:
        oddnumberlist.append(num)
    else:
        evennumberlist.append(num)

message += "THESE ARE ODD NUMBERS :"

for odd in oddnumberlist:
    message += "and "
    
for even in evennumberlist:
    message += str(even) + ","
    
message += "are even numbers"
print(message)

In [ ]:
even=[]
odd=[]
list1=[11,22,33,44,55,66,77,88]
for num in list1:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print("even")
for ev in even:
    print(ev,end=' ')#spacing
print("\nodd")
for od in odd:
    print(od,end=' ')#spacing

In [ ]:
even=[]
odd=[]
list1=[11,22,33,44,55,66,77,88]
for num in list1:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print("even")
for ev in even:
    print(ev)
print("\nodd")
for od in odd:
    print(od)

In [2]:
friends = ["ali","abid","shahzaib","ahmed","fatima","sehar","bunty"]
family = ["moto","golo","bablo","bubli","tadda","bunty"]
closedfriends=[]

for members in friends:
    if members in family:
        closedfriends.append(members)
        print("closedfriends")
    else:
        print("sorry")

sorry
sorry
sorry
sorry
sorry
sorry
closedfriends

# WORKING WITH LIST USING FOR LOOP

In [7]:
name = ["ali","abid","shahzaib","ahmed","fatima","sehar"]
for name in name[2:]:
    print(name.upper())

SHAHZAIB
AHMED
FATIMA
SEHAR

In [14]:
name = ["ali","abid","shahzaib","ahmed","fatima","sehar"]
print(name[3])
print(name[4])
print(name[5])

ahmed
fatima
sehar

In [9]:
pizza = ["tikka","fagita","creemitikka"]
friends pizza = pizza[:]

SyntaxError: invalid syntax (<ipython-input-9-eba4afd72929>, line 2)

In [50]:
currentusername = ['behroze','abdullah','shahzaib','shariq']
newusername = ['ali','abid','ahmed','fatima','shahzaib']
for name in newusername:
    if name in currentusername:
      print('enter new user name,',newusername)
          
else:
    print('user name is available,',newusername)

enter new user name, ['ali', 'abid', 'ahmed', 'fatima', 'shahzaib']
user name is available, ['ali', 'abid', 'ahmed', 'fatima', 'shahzaib']

# string formating

In [51]:
name = "fahad"
f_name = "ali"
print("my friend name is "+ name+" and his father name is "+ f_name)

my friend name is fahad and his father name is ali

In [52]:
print("my friend name is {} and his father name is {}".format(name,f_name))

my friend name is fahad and his father name is ali

In [55]:
print(F"my friend name is {name} and his father name is {f_name}")

my friend name is fahad and his father name is ali

In [58]:
num=45
name="asad"

print(f"my name is {name} and my number is {num} num")

my name is asad and my number is 45 num

In [59]:
person = "Nasir"

In [60]:
print('my name is {}'.format(person))

my name is Nasir

# tupple

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. tup1 = (50,);

In [1]:
friends = ('Hamza' , 'Umer' , 'Zohaib' , 'Azhar' , 'Fahad')
print(friends[2])

Zohaib

In [2]:
cities = ("Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle")
mycities = cities[4]
print("I belong to " + mycities.upper() + '.')

I belong to LOS ANGELES.

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ",tup1[0])
print("tup2[1:5]: ",tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [5]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [6]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
print (tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [7]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [8]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [9]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [10]:
thistuple = ("apple", "banana", "cherry")
if "strawberry" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("No Strawberry in your tuple")

No Strawberry in your tuple

In [11]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [12]:
tup3 = "a","b","c","d"
print(tup3)
print(type(tup3))

('a', 'b', 'c', 'd')
<class 'tuple'>

# Dictionaries

a = {'key':'value'}
there is not index in dict

In [13]:
alien_0 = {'color':'green','points':5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [14]:
alien_0 = {'color':'green','points':5}
new_points = alien_0['points']
print("you just earned " + str(new_points)+ " points!")

you just earned 5 points!

In [15]:
#adding new key , value in dict
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [23]:
foods = {}
foods['karahi'] = ['favourite','pishawari','balochi']
foods['sheep'] = 'boti kabab'
foods['biryani'] = 'yummy'
foods['bbq'] = 'malai boti'
foods['shake'] = 'mango'
foods['ice creem'] = {'yummy':'flavour','chocolate':'mango','orange':}
foods['ice creem'][yummy][2]
print(foods)
foods['karahi'][1]

TypeError: string indices must be integers

In [25]:
players = {'Watson':'Australian International Cricketer'}
print("Shane Robert Watson is a " + players['Watson'] + '.')

players = {'Imam ul Haq': 'parchi'}
print("\nWe all know that Imam ul Haq is a " + players['Imam ul Haq'].upper() + ".")

Shane Robert Watson is a Australian International Cricketer.

We all know that Imam ul Haq is a PARCHI.

In [27]:
psl = {'karachi': 'kings', 'multan':'sultan', 'zalmi': 'won'}
print("Karachi is: " + str(psl['karachi']))

if psl['zalmi'] == 'loser':
    x_increment = 1
elif psl['zalmi'] == 'won':
    x_increment = 2
else:
    x_increment = 3
    
psl['zalmi'] = psl['zalmi'] + str(x_increment)
print("PSL4 zalmi : " + str(psl['zalmi']))

Karachi is: kings
PSL4 zalmi : won2

# Removing Key-Value Pairs